---
interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'Feeling Mutual',
  description = 'Award-winning insight consultancy specialising in online and mobile qualitative research'
} = Astro.props;

const siteTitle = 'Feeling Mutual';
const author = 'Simon Dunkelman';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={siteTitle} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content={author} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/b9f8945763.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <main class="min-w-screen">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  @import '../styles/global.css';
  @import '../styles/logo-filters.css';
</style>
